CodingChallenges/CC_020_ClothSimulation/P5/toxiclibs/
CodingChallenges/CC_043_ContextFreeGrammar/P5/libraries/tracery.js
CodingChallenges/CC_080_Voice_Chatbot_with_p5.Speech/P5/libraries/p5.speech.js
CodingChallenges/CC_099_ColorPredictor/P5/lib/
CodingChallenges/CC_100.1_NeuroEvolution_FlappyBird/P5/neuralnetwork/
CodingChallenges/CC_100.5_NeuroEvolution_FlappyBird/P5/neuralnetwork/
CodingChallenges/CC_137_4D_Noise_Loop/P5/OpenSimplexNoise.js
CodingChallenges/CC_156_Pi_Digits/p5-multi/node
Tutorials/p5.js/10/10.02_p5.js_what_is_JSON_pt1/libraries/p5.serialport.js
Tutorials/p5.js/10/10.03_p5.js_what_is_JSON_pt2/libraries/p5.serialport.js
Tutorials/P5JS/p5.js_video/11.8_p5.js_seriously/libraries/
Tutorials/Processing/unsorted/conditionals/bouncingball/web-export/processing.js
Courses/intelligence_learning/session4/toy-neural-network-js/lib/
Courses/natureofcode/5.17_matter_intro/libraries/matter.js
Courses/natureofcode/5.18_matter_intro/libraries/matter.js
Courses/natureofcode/5.19_matter_delete_bodies/libraries/matter.js
Courses/natureofcode/5.20_matter_constraints/libraries/matter.js
Courses/natureofcode/5.21_matter_mouse_constraint/libraries/matter.js
Courses/natureofcode/10.18-toy_neural_network/lib
Courses/programming_with_text/session03/3-01_rita_js/libraries/rita-full.js
Courses/programming_with_text/session07/7-02_CFGwithTracery/libraries/tracery.js
Courses/programming_with_text/session07/7-03_CFGwithRiTaJS/libraries/
Courses/programming_with_text/session10/10-03_Text-to-Speech_with_p5.Speech/libraries/p5.speech.js
Courses/programming_with_text/session10/10-04_Speech_Recognition_with_p5.Speech/libraries/p5.speech.js
Courses/beginner_ml5/7.2_pose_classifier/*
Courses/beginner_ml5/7.3_pose_regression/P5/lib/ml5.min.js
Courses/beginner_ml5/7.3_pose_regression/P5-multi/1_data_collection/lib/ml5.min.js
Courses/beginner_ml5/7.3_pose_regression/P5-multi/2_loading_data/lib/ml5.min.js
Courses/beginner_ml5/7.3_pose_regression/P5-multi/3_deploying_trained_model/lib/ml5.min.js
