---
layout: base
---

{% comment %} Get all videos in this collection. {% endcomment %}
{% assign videos = site[page.collection] %}

{% comment %} Find this video's series. {% endcomment %}
{% include 1-tools/series-for-video.html video=page %}
{% assign series = out_series %}

{% comment %} Sort videos and get previous/next videos. {% endcomment %}
{% include 1-tools/sort-videos.html videos=videos seriesPage=series %}
{% include 1-tools/previous-next.html videos=out_sortedVideos currentVideo=page %}

{% comment %} Find this video's course (may be null). {% endcomment %}
{% include 1-tools/series-for-video.html video=series %}
{% assign course = out_series %}


<div class="video">

  {% comment %} Video subtitle. {% endcomment %}
  <div class="subtitle">
    {{ course.title | default: series.title }} {{ page.video_type }}
    #{% if series.series_number %}{{ series.series_number }}.{% endif %}{{ page.video_number }}
  </div>

  <div class="player-and-topics">
    <div class="player">

      {% comment %} Include YouTube video player. {% endcomment %}
      {% include 3-modules/video-player.html video_id=page.video_id %}

      {% comment %} Previous/Next buttons and 'Watch all' button. {% endcomment %}
      <div class="player-controls">
        <a href="{{ out_previousVideo.url | relative_url }}" class="jump-control {% if out_previousVideo == null %}disabled{% endif %}">❰</a>
        <a href="{{ series.url | default: page.collection | relative_url }}" class="watch-all-videos">Watch all videos</a>
        <a href="{{ out_nextVideo.url | relative_url }}" class="jump-control {% if out_nextVideo == null %}disabled{% endif %}">❱</a>
      </div>
    </div>

    <div class="topics">
      {{ content }}

      {% comment %} Show video topics (used for streams). {% endcomment %}
      {% if page.topics %}
        {% include 3-modules/link-list.html links=page.topics title='Topics' class='topics' %} 
      {% endif %}

      {% comment %} Show links for live example and code download. {% endcomment %}
      {% if page.repository != null %}
        <div class="code-actions">

          {% comment %} Repository references an external location. {% endcomment %}
          {% if page.repository contains '://' %}

            {% assign downloadURL = page.repository %}
            {% assign liveExampleURL = page.live_example %}

          {% comment %} Repository references an internal location. {% endcomment %}
          {% elsif page.repository != false %}

            {% comment %} Repository base paths (suffixes will be appendet later). {% endcomment %}
            {% assign repositoryBasePath = '/' | append: page.collection | append: '/' | append: page.repository %}
            {% assign downloadBasePath = site.github_download_prefix | append: site.github.repository_url | append: '/tree/' | append: site.github.source.branch | append: repositoryBasePath %}

            {% comment %} Find all code variations. {% endcomment %}
            {% include 1-tools/code-variations.html repositoryBasePath=repositoryBasePath downloadBasePath=downloadBasePath %}

            {% comment %} Count the number of code variations. {% endcomment %}
            {% assign codeVariationsCount = out_codeVariations | size %}

            {% comment %} If multiple code variatios exist, display the dropdown download-button. {% endcomment %}
            {% if codeVariationsCount > 1 %}

              <div class="download-button">
                <span class="title">Get the Code</span>
                <ul>
                  {% for variation in out_codeVariations %} 
                    <li><a href="{{ downloadBasePath | append: variation.suffix }}" target="blank">{{ variation.name }} Version</a></li>
                  {% endfor %}
                </ul>
              </div>

              {% comment %} Set download URL to something "special", so the button doesn't get rendered twice. {% endcomment %}
              {% assign downloadURL = '::MULTIPLE_URLS::' %}

            {% comment %} If only one variation exists, use a simple link. {% endcomment %}
            {% elsif codeVariationsCount == 1 %}
              {% assign downloadURL = downloadBasePath | append: out_codeVariations[0].suffix %}

            {% comment %} If no variation could be found, use whatever was passed in. {% endcomment %}
            {% else %}
              {% assign downloadURL = downloadBasePath %}
              {% assign liveExampleURL = repositoryBasePath | relative_url %}
            {% endif %}

            {% comment %} Get the live example URL based on what's given (page.live_example overrides). {% endcomment %}
            {% if page.live_example != null %}
              {% assign liveExampleURL = page.live_example %}
            {% elsif out_liveExamples[0] != null %}
              {% assign liveExampleURL = repositoryBasePath | append: out_liveExamples[0].suffix | relative_url %}
            {% endif %}

          {% endif %}

          {% comment %} If the page repository exists ... {% endcomment %}
          {% if page.repository != false %}

            {% comment %} ... display a download button for the code if needed ... {% endcomment %}
            {% if downloadURL and downloadURL != '::MULTIPLE_URLS::' %}
              <a href="{{ downloadURL }}" target="blank">Get the Code</a>
            {% endif %}

            {% comment %} ... and show a link to a live example. {% endcomment %}
            <a href="{{ liveExampleURL }}" target="blank" class="{% unless liveExampleURL %}disabled{% endunless %}">Live Example</a>

          {% comment %} Otherwise dislay an error message. {% endcomment %}
          {% else %}
            <p>
              The code corresponding to this {{ page.video_type }} hasn't been added yet.
              If you want to help with this, check out the <a href="{{ site.github.repository_url }}" target="blank">GitHub repository</a>.
            </p>
          {% endif %}
        </div>
        
      {% endif %}
    </div>
  </div>

  <div class="links-and-books">
    {% comment %} List of community contributions (only visible if can_contribute is true). {% endcomment %}
    {% if page.can_contribute %}
      <div class="contributions">
        {% comment %} Include the list of community contributions. {% endcomment %}
        {% include 3-modules/link-list.html links=page.contributions title='Community Contributions' %}

        {% comment %} Generate a URL to edit this video's file directly on GitHub. {% endcomment %}
        {% assign addContributionURL = site.github.repository_url | append: '/edit/' | append: site.github.source.branch | append: '/' | append: page.path %}

        {% comment %} Display a message depending on wether there have been made community contributions already. {% endcomment %}
        {% if page.contributions %}
          <p>
            You can also <a href="{{ addContributionURL }}" target="blank">add your own version!</a>
            (<a href="{{ site.github.wiki_url | append: '/Community-Contributions-Guide' }}" target="blank">See how</a>)
          </p>
        {% else %}
          <p>
            It seems like there haven't been made any variations based on this {{ page.video_type }} by the community yet.
            Be the first and <a href="{{ addContributionURL }}" target="blank">add your own</a>!
            If you don't know how, take a look at <a href="{{ site.github.wiki_url | append: '/Community-Contributions-Guide' }}" target="blank">this guide</a>.
          </p>
        {% endif %}
      </div>
    {% endif %}

    {% comment %} List of discussed links. {% endcomment %}
    {% if page.links %}
      {% capture linksTitle %}Links discussed in this {{ page.video_type }}{% endcapture %}
      {% include 3-modules/link-list.html links=page.links title=linksTitle %}
    {% endif %}

    {% comment %} Links of discussed books/articles/papers. {% endcomment %}
    {% if page.books %}
      {% include 3-modules/link-list.html links=page.books title='Books and Papers' %}
    {% endif %}

    {% comment %} Links of discussed videos. {% endcomment %}
    {% if page.videos %}
      {% capture videosTitle %}Videos discussed in this {{ page.video_type }}{% endcapture %}
      {% include 3-modules/link-list.html links=page.videos title=videosTitle %}
    {% endif %}

    {% comment %} Links of discussed tools. {% endcomment %}
    {% if page.tools %}
      {% capture toolsTitle %}Tools discussed in this {{ page.video_type }}{% endcapture %}
      {% include 3-modules/link-list.html links=page.tools title=toolsTitle %}
    {% endif %}

    {% comment %} Custom link lists. {% endcomment %}
    {% for section in page.custom_sections %}
      {% include 3-modules/link-list.html links=section.items title=section.title class=section.class %}
    {% endfor %}
  </div>

</div>
